/* nav img{
     width: 120px;
}
nav{
     background: purple;
}

nav ul{
     float: right;
     list-style-type: none;
     
}
ul li{
     display: inline-block;
     padding: 30px;
     font-family: "Cocogoose";
   
}
li a{
     color: black;
     text-decoration: none;
     cursor: pointer;
} */