<!-- <h1>Angular Sign In Form</h1>
<h1>
     
</h1>
<form #basicForm="ngForm" (submit)="getData(basicForm.value)">
     <input type="text" ngModel name="user" placeholder="Enter user name"/>
     <br>
     <br>
     <input type="text" ngModel name="email" placeholder="Enter email user"/>
     <br>
     <br>
     <input type="text" ngModel name="password" placeholder="Enter password user"/>
     <br><br>
     <button>Register</button>
     
</form>
<ul>
     <li>Name: {{userData.user}}</li>
     <li>Email: {{userData.email}}</li>
     <li>Password: {{userData.password}}</li>
</ul> -->

<!-- <app-header></app-header>
<app-user-details></app-user-details> -->
<h1>{{title}}</h1>

