


<!-- <body>

<h1 style="font: bold;" class="Title">User Register</h1>
     <br>
   

<mat-form-field class="LoginComponent">
     <mat-label>Email</mat-label>
     <input matInput placeholder="Type Here">
     </mat-form-field>
     <br>
     <br>

<mat-form-field class="LoginComponent">
<mat-label>Password</mat-label>
<input type="password" matInput placeholder="Type Here">
</mat-form-field>
<br>
<br>

<mat-form-field class="LoginComponent">
     <mat-label>Phone</mat-label>
     <input matInput placeholder="Type Here" type="number">
     </mat-form-field> 
     <br>
     <br>   
     <mat-form-field class="LoginComponent" appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select>
            <mat-option *ngFor="let sex of gender" [value]="sex.value">
              {{sex.viewValue}}
            </mat-option>
          </mat-select>
          
          
     </mat-form-field>
     <br>
     <br>
<mat-form-field class="LoginComponent" appearance="fill">
     <mat-label>Favorite food</mat-label>
     <mat-select>
       <mat-option *ngFor="let food of foods" [value]="food.value">
         {{food.viewValue}}
       </mat-option>
     </mat-select>
     
     
</mat-form-field>
<br>
<br>
<button class="Login" mat-raised-button color="primary">Sign Up</button>

</body> -->
